/* :: calculater :: stylesheet :: */

*{ box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:'digital-7';
    src: url('digital-7-_mono_.woff') format('woff');
}

:root{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    --calcColor: rgb(80, 87, 129);
    --btnColor: rgba(82, 82, 82, 0.8);
}

body{ width: 100vw;
    height: 100vh;
    max-width: 60em;
    margin: 1em auto;
}

.container{ position: absolute;
    background-color: var(--calcColor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 37rem;
    height: 52rem;
    border-radius: 2rem;
    border: 1.25rem inset rgba(47, 51, 77, 0.527);
}

#result-area{ position: relative;
    background-color: black;
    overflow: hidden;
    font-family:'digital-7';
    font-size: 4rem;
    color: white;
    letter-spacing: 0.6rem;
    text-align: end;
    cursor: pointer;
    list-style: none;
    width: 32rem;
    height: 10rem;
    margin-top: -0.05rem;
    margin-bottom:2rem;
    margin-left: 8%;
    padding: 0.8rem;
    border: 0.6rem solid rgba(0, 0, 0, 0.2);
    border-radius:1.2rem;
}
#result-area:hover{ background-color:rgba(0, 0, 0, 0.6);
    text-decoration: line-through;}

#calculator-table{ position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-items: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 2.35rem;
    border-spacing: 3.6rem 0.8rem;
    border-collapse: separate;
}

td{ padding: 0.75rem;
    text-align: center;
    border-radius: 0.4rem;
    background-color: var(--btnColor);
    border: 0.25rem solid black;
}
td:hover{ background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;}
td:active{ cursor: grabbing;
    color: rgba(0, 0, 0, 0.25);}

#DEL{ background-color: rgba(226, 0, 0, 0.8);
    border: 0.25rem solid rgb(141, 0, 0);
}
#DEL:hover{ background-color: rgba(226, 0, 0, 0.4);
    border: 0.25rem solid rgb(141, 0, 0, 0.4);
}
